.square1 {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 20px;
}

.square2 {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 20px;
}
.point{
    width: 3px;
    height: 3px;
    background-color: #000000;
    position: absolute;
}
.point2{
    width: 3px;
    height: 3px;
    background-color: #000000;
    position: absolute;
}


